body {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
}

//nom du restaurant - maintenu à chaque page
$primary-color: #00796B;
$secondary-color: #FFC400;

header {
  background-color: $primary-color;
  font-family: 'Archivo Black', Verdana, sans-serif;
  text-align: center;
  color: #FFC400;
  --name {
    font-size: 60px;
    margin: 20px;
  }
}

//partie prochainement
aside {
  background-color: #00796B;
  border-radius: 10px;
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

//pied de page maintenu à chaque page
footer {
  background-color: $primary-color;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.comingsoon {
  font-size: 30px;
  margin: 15px;
  color: $secondary-color;
}

.mentions, .contact {
  font-size: 28px;
  margin: 15px;
  color: $secondary-color;
}
