body {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', Verdana, sans-serif;
}

@import "./utils/mixins.scss";
@import "./utils/variables.scss";

//nom du restaurant - maintenu à chaque page
header {
  background-color: $primary-color;
  font-family: $primary-font;
  text-align: center;

  .name {
    font-size: 60px;
    margin: 20px;
    color: $secondary-color;
  }
}

.container {
  width: 60%;
  display: flex;
  margin: auto;
  padding: 30px;
  flex-wrap: wrap;

  .menu-prev {
    width: 350px;
    height: 400px;
    margin: 30px;
    @include menu-shadow;
  }
}

a {
text-decoration: none;
color:inherit;
}

// menu 1 //
.menu-prev__note {
  @include menu1-layout;
  height: 100%;
  margin: auto;
  font-size: 30px;
  text-align: center;
}

img {
  width: 70px;
  height: 70px;
  padding-top: 30%;
}

.h2--menu-note {
  @include note-titlestyle;
}

.h1--menu-note {
  font-family: $secondary-font-note;
  }

// menu 2 //

.menu-prev__chic {
  background: $bg-chic;
  height: 100%;
  .h2--menu-chic {
    font-family: 'Croissant One', cursive;
  .h1--menu-chic {
    font-family: 'Roboto Slab', serif, Verdana;}
  }
}

.menu-prev__delice {
  background: $bg-delice;
  height: 100%;
    }
.menu-prev__palette {
  background: $bg-palette;
  height: 100%;
}

//partie prochainement //
.comingsoon {
  background-color: $primary-color;
  border-radius: 10px;
  width: 30%;
  margin: 0 auto;
  text-align: center;
  span {
    font-size: 30px;
    margin: 15px;
    color: $secondary-color;
  }
}
//pied de page maintenu à chaque page //
.nav {
  background-color: $primary-color;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  .nav__link {
    color: $secondary-color;
    font-size: 28px;
    margin: 15px;
  }
}


  //page 1
.note--header {
    text-align: center;
}

  .note__title {
    text-align: center;
    @include note-titlestyle;
    font-size: 40px; }

  .note-menu {
    @include menu1-layout;
    @include menu-shadow;
    width: 60%;
    margin: 0 auto;
  }

  .note__logo {
    width: 15%;
    height: auto;
    display: block;
    margin: auto;
  }

  ul {
    list-style: none;

  }
