

.subtitle {
  text-align: center;
  position: relative;
}

.subtitle:before {
  content:"";
  left: 0;
  right: 0;
  background: black;
  height: 2px;
  position: absolute;
  top: calc(50% - 1px);
}

.subtitle span {
  display: inline-block;
  padding: 10px 40px;
  position: relative;
  z-index: 1;
}

.menu {
  width: 100%;
  margin: 30px;
  font-family: 'Caveat', cursive, Verdana;
  font-size: 24px;
}
