$primary-color: #549c84;
$secondary-color: #fdcb46;
$shadow-color: #F5F5F5;
$primary-font: 'Archivo Black', Verdana, sans-serif;

//menu 1
$primary-font-note: 'Devonshire', cursive, Verdana;
$secondary-font-note: 'Kalam', cursive, Verdana;
$color-note: #5f2e34;
$bg-note: #fde0dc;
$light-pink: #fbdddc;

//menu 2
$bg-chic: #fff5fe;
$mustard: #e38a12;
$purple: #ab70a0;
$strongpurple:#6e4ccc;
$primary-font-chic:'Kameron', serif, Verdana;
$secondary-font-chic:'Croissant One', cursive;

//menu 3
$bg-delice: #eaeaeb;
$light-blue:#45a5fb;
$medium-blue:#0f81f8;
$dark-blue: #0227dc;
$primary-font-delice:'Kalam', cursive;
$secondary-font-delice: 'Dancing Script', cursive, Verdana;

//menu 4
$dark-green: #3e923a;
$lightgreen:#beff7f;
$primary-font-palette: 'Kalam', cursive, Verdana;
$secondary-font-palette:'Kaushan Script', cursive;

// responsive
$breakpoints:(tablet:768px, mobile:320px);
