$primary-color: #549c84;
$secondary-color: #fdcb46;
$bg-delice: #dde4f4;
$bg-palette:#edf8e7;
$lightgreen: #0B9920;
$shadow-color: #F5F5F5;
$primary-font: 'Archivo Black', Verdana, sans-serif;

//menu 1
$primary-font-note: 'Devonshire', cursive, Verdana;
$secondary-font-note: 'Caveat', cursive, Verdana;
$color-note: #5f2e34;
$bg-note: #fde0dc;

//menu 2
$bg-chic: #fff5fe;
